/* Header */

.header{
    background-color: #A10E06;
    width: 100%;
}
#logo_header{
    max-width: 130px;
    text-align: left;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

/* Barra de navegação */

nav{
    text-align: center;
    background-color: #000000;
    height: 30px;
}
nav li{
    display: inline;
    width: 80%;
    margin-right: 8%;
    margin-left: 8%;
}
li a{
    color: white;
    font-family: 'Patua One', cursive;
}
li a:hover{
    color: #cc2017;
}


/* Background */

body{
    background-image: url(img/background/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Colunas conteúdo */

.container{
    background-color: #FFFFFF;
    padding-top: 2%;
    margin-top: 1%;
}

/* margin no conteúdo */
#introducao p{
    margin-right: 3%;
    margin-left: 3%;
}
#introducao h1{
    margin-left: 3%;
}
#video{
    float: right;
    margin-left: 1%;
    margin-right: 3%;
}

/* Jogos */
#jogos{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    text-align: center;
}
#jogos img{
    max-width: 230px;

margin: 3%;

    border: 2px #000000 solid ;

    filter: grayscale(100%);
    transition: .5s;
}
#jogos img:hover{
    border: 2px #A10E06 solid;
    filter: grayscale(0%);
}

/* Perguntas e galeria */
#final{
    border-top: 1px solid #000000;
    padding-bottom: 5%;
}
#final h1{
    padding-top: 20px;
    margin-left: 3%;
}
#final h2{
    margin-left: 3%;
    margin-right: 2%;
}
#final p{
    margin-left: 3%;
    margin-right: 2%;
}

/*Galeria de imagens */
#galeria{
    text-align: center;
}
#galeria img{
    text-align: center;
    max-width: 45%;
    margin-left: 1%;
    margin-top: 2%;

}

/* Fontes */

body h1{
    font: bold;
    font-size: 25px;
    font-family: 'Suez One', serif;
}
body h2{
    font: bold;
    font-size: 18px;
    font-family: 'Suez One', serif;
}

